label
    font-size: .909rem
    display: block
    input[type="checkbox"] 
        -webkit-appearance: none
        border-radius: 3px
        border: 1px solid #A8ACAE
        width: 18px
        box-sizing: border-box
        height: 18px
