.ConfigForm
	display: flex
	margin-top: 1.5rem
	.stepNumber
		padding-right: 0.5rem
	.configInputs
		.rowDetails
			margin-top: 1.5rem
		.inputElement
			span
				display: block
				font-size: .909rem
			select
				width: 100%
				// margin-top: 1.5rem
			.inputLabel
				font-size: 0.826rem