.HeaderOptions
    ul
        margin: 0
        padding: 0
        display: flex
        justify-content: flex-end
        .option
            display: inline-block
            a
                display: block
                margin: 0 auto
                .option-name
                    display: none
                img 
                    display: block
                    width: 100%
                    max-width: 45px