.MapModeForm
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0, 0.4)
    .modal
        background: white
        width: 100%
        height: 100%
        padding: 2rem 4rem

@media (min-width: 900px)
    .MapModeForm
        .modal
            width: 600px
            height: 500px