@import "../mixins"

.form-spacing
    flex: 1 1 auto
    -ms-overflow-style: none
    overflow: scroll
    margin-right: -1.5rem
    padding-right: 1.5rem

.MapModeForm
    position: absolute
    z-index: 10
    top: -99px
    left: 0
    width: 100%
    height: 100vh
    background: rgba(0,0,0, 0.4)
    flex-direction: column
    .PlantingFormHeader
        background-color: #FFFFFF
        width: inherit
        left: 0
        // .CloseButton
        //     right: -3px
        .planting-modal-text
            font-family: Merriweather, serif
            color: $cool-grey
            // padding: 0rem 1.5rem
            // margin-top: 1rem
            span
                color: black
    .modal
        display: flex
        flex-direction: column
        background: white
        width: 100%
        height: calc(100vh - 99px)
        padding: 0 1.5rem 0rem 1.5rem
        box-sizing: border-box
        position: relative
        // display: initial
        .modal-header
            padding: 4rem 0rem 0.5rem 0rem
            &::after
                left: 0rem
    .button-wrap
        height: 99px
        width: 100%
        padding: 0 1.5rem 0rem 1.5rem
        box-sizing: border-box
        background-color: gray
        justify-content: flex-end
        background-color: $light-blue
        .Button
            margin: 1.5rem

@media (min-width: 900px)
    .form-spacing
        -ms-overflow-style: none
        padding-right: 2rem
        margin-right: -2rem
    .MapModeForm
        top: -72px
        justify-content: center
        .PlantingFormHeader
            width: 598px
            left: auto
            .planting-modal-text
                padding: 0
            .CloseButton
                // right: -14px
        .modal
            width: 670px
            height: 500px
            padding: 0 2rem 0rem 2rem
            align-items: normal
            .modal-header
                padding-left: 0
                padding-right: 0
                &::after
                    left: 0
        .button-wrap
            width: 670px