.OptionsDropdown
    position: absolute
    top: 54px
    left: 0
    right: 0
    background-color: $white-background
    border-top: 2px solid $blue-highlight
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
    display: none
    img
        width: 18px
        position: absolute
        top: 6px
        right: 6px
        padding: 10px
        cursor: pointer

@media (min-width: 900px) 
    .OptionsDropdown
        width: 200px
        top: 72px
        padding: 0 1em
        left: auto
        right: auto
        img
            display: none
