.Report
	position: absolute
	top: 54px
	bottom: 0
	z-index: 10
	background-color: $white
	padding: 0rem 1.5rem
	.reportActions
		align-items: center
	.reportArea
		margin-top: 2rem
		display: flex
		flex-direction: column
		select
			width: 240px
			margin-bottom: 2rem




