.SearchBar
    input 
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        width: 100%
        -webkit-appearance: none
        border: none
        padding: 0 0px 0px 18px
        height: 100%
        background-color: #ECF1F3
        background-repeat: no-repeat
        background-position: 95%
        &::-webkit-input-placeholder
            font-family: Merriweather
            font-style: italic
            font-weight: normal
            font-size: 14px
            line-height: 18px