.Title
    display: flex
    align-items: center
    padding-left: 0.5rem
    .wide-logo
        display: none
    .narrow-logo
        width: 100%
        max-width: 82px
        min-width: 63px

@media (min-width: 900px) 
    .Title
        margin: 0 auto
        .narrow-logo
            display: none
        .wide-logo
            display: block
            width: 100%
            max-width: 154px

@media (min-width: 1440px)
    .Title
        margin: 0
        padding-left: 1rem