.WelcomeModal
    .OrSave
        display: none

@media (min-width: 900px)
    .WelcomeModal
        .OrSave
            color: $medium-blue
            display: block
            padding-top: 0.5rem
            font-size: .909rem