@import vendor

html 
    font-size: 12px
body
    margin: 0
    min-width: 305px

ul 
    list-style: none
.Map
    width: 100%
    height: 100vh
    height: calc(100vh - 99px)

.grid-row
    display: grid
    grid-template-columns: repeat(12, 1fr)

.dropdown-list


@import './components/HeaderOptions'
@import './components/SaveButton'
@import './components/SearchBar'
@import './components/Title'
@import './components/OptionsDropdown'
@import './components/Header'

    

                         
    