@import vendor

@import mixins

@import './layout/grid'

@import tools

@import './components/Map'
@import './components/HeaderOptions'
@import './components/SaveButton'
@import './components/SearchBar'
@import './components/Title'
@import './components/OptionsDropdown'
@import './components/DropdownList'
@import './components/Checkbox'
@import './components/DropdownCheckbox'
@import './components/Button'
@import './components/NavOptions'
@import './components/Header'
@import './components/CloseButton'
@import './components/WelcomeModal'

html, body
    font-size: 18px
    font-family: Nimbus Sans
    margin: 0
    min-width: 305px

ul 
    list-style: none
    padding: 0
    margin: 0

h1
    font-size: 1.464rem
    line-height: 2rem
    margin: 0
h2
    font-size: 1.331rem
    line-height: 1.5rem
    margin: 0
h3
    font-size: 1rem
    line-height: 1.5rem
    margin: 0
h4, p
    font-size: 0.909rem
    line-height: 1.5rem
    margin: 0






    

                         
    