@import url('https://fonts.googleapis.com/css?family=Merriweather:400i&display=swap')

@mixin dropdown-grid-columns()
    margin-top: 1.5em
    grid-column: 1 / -1

// primary colors

$bright-blue: #006BA6
$light-blue: #ECF1F3
$cool-grey: #707372
$medium-grey: #A8ACAE
$white: #FFFFFF
$black: #333333


// secondary colors

$grey: #A8ACAE

