@import url('https://fonts.googleapis.com/css?family=Merriweather:400i&display=swap')

// primary colors

$bright-blue: #006BA6
$light-blue: #ECF1F3
$cool-grey: #707372
$medium-grey: #A8ACAE
$white: #FFFFFF
$black: #333333
$dark-brown: #3E4827


// secondary colors

$grey: #A8ACAE
$dark-green: #76881D

