@mixin dropdown-grid-columns-narrow()
    margin-top: 1.5em
    margin-bottom: 1.5em
    grid-column: 1 / -1

@mixin dropdown-grid-columns-wide()
    margin-top: 1em
    margin-bottom: 1em

.suggestion-item--active
	background-color: #fafafa
	cursor: pointer

.suggestion-item
	background-color: #ffffff
	cursor: pointer

.vertical-align
	display: flex
	align-items: center

.distribute
	display: flex
	justify-content: space-between

@media (min-width: 900px)
	.desktop-distribute
		display: flex
		justify-content: space-between


.margin-center
    margin: 0 auto !important

.header-large
	font-size: 1.949rem
	line-height: 2.5rem
	font-weight: bold

.subtitle-large
    font-size: 1.464rem
    line-height: 2rem
    font-weight: bold

.inputLabel
	font-size: 0.826rem
	color: $cool-grey

.flex-column
	display: flex
	flex-direction: column

.modal-link
	font-family: Merriweather
	font-style: italic
	font-weight: normal
	font-size: 0.751rem
	line-height: 21px
	text-decoration-line: underline
	color: $bright-blue
	background: transparent
	cursor: pointer

.map-link
	font-family: Merriweather
	white-space: nowrap
	font-style: italic
	font-size: .826rem
	line-height: 1rem
	padding: 0rem 0.5rem

@media (min-width: 900px)
	.desktop-select-l-width
		width: 240px
	.desktop-select-s-width
		width: 160px
	.desktop-select-m-width
		width: 210px

.spacer-top-1_5
	margin-top: 1.5rem !important

@media (min-width: 900px)
	.desktop-spacer-right-1
		margin-right: 1rem
	.desktop-spacer-right-3
		margin-right: 3rem

@for $i from 0 through 4
	.spacer-top-#{$i}
		margin-top: 1rem * $i !important

@for $i from 0 through 4
	.spacer-bottom-#{$i}
    	margin-bottom: 1rem * $i !important

@for $i from 0 through 4
	.spacer-left-#{$i}
		margin-left: 1rem * $i !important

@for $i from 0 through 4
	.spacer-right-#{$i}
    	margin-right: 1rem * $i !important

@for $i from 1 through 100
	.width-#{$i}
    	width: 1% * $i !important

@for $i from 1 through 100
	.height-#{$i}
    	height: 1% * $i !important

@media (min-width: 900px)
	.nowrap
		white-space: nowrap

@media (max-width: 899px)
	.warning
		margin-left: 1.5rem

.warning
	color: red

.bolded
	font-weight: bold

.block
	display: block !important

.inline
    display: inline !important

.inline-block
	display: inline-block !important

.clickable
    pointer-events: auto !important
    *
        pointer-events: auto !important

.unclickable
	pointer-events: none !important
